.LoginCart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.LoginCart button {
     all: unset;
  border: none;
  padding: 12px;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
 
}
.LoginCart i {
  font-size: 20px;
  color: #333;
  background: white;
}
