.ProductInfo {
  border: 2px solid #aaa5a5;
  border-radius: 10px;
  padding: 20px 25px;
  width: 400px;
  background-color: aliceblue;
}

.ProductInfoInformation {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: black;
  font-weight: light;
  text-align: justify;
  background-color: aliceblue;
  

}
.ProductInfo p {
  display: grid;
  grid-template-columns: 180px 1fr; 
  gap: 20px;
  margin: 20px 0;
  font-size: 0.95rem;
  color: black;
  line-height: 1.5;
  background-color: aliceblue;
  font-weight: 400;
  
}

.ProductInfo p::before {
  content: attr(data-label);
  font-weight: 400;
  text-align: left;
  color: rgb(103, 101, 101);
  word-break: break-word;
}

.ProductInfo p span {
  text-align: justify;
  color: black;
  white-space: normal;
  word-wrap: break-word;
  background-color: aliceblue;
  font-weight: 400;
}
