*{
    background-color: rgb(208, 208, 204);
}

.ProductImage {
  width: 400px;
  height: 400px;
  object-fit: contain;      
  border-radius: 12px;    
  border: 2px solid #aaa5a5;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fafafa;
}

.ProductImage:hover {
  transform: scale(1.03); 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

