.SearchBar {
  display: flex;
  align-items: center;
  width: 700px;
  margin: 20px auto;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 8px 15px;
  transition: all 0.3s ease;
}

.SearchBar:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.SearchBar i {
  color: black;
  font-size: 16px;
  margin-right: 10px;
}

.SearchBar input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  color: #202124;
  background: transparent;
  
}

.SearchBar input::placeholder {
  color: #a0a0a0;
}
