.ProductHighLights {
  
  border: 2px solid #aaa5a5; 
  width: 400px; 
  background-color: aliceblue; 
  border-radius: 10px;
  padding: 20px 25px;
  width: 400px;
}

.highlightsHeading {
  text-align: justify;
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: black;
  font-weight: 700;
  background-color: aliceblue;
}

.ProductHighLights p {
  display: flex;
  justify-content: flex-start;
  gap: 20px; 
  margin: 20px 0;
  font-size: 0.95rem;
  color: black;
  background-color: aliceblue;
  text-align: justify;
  font-weight: light;
  
}


.ProductHighLights p::before {
  content: attr(data-label); 
  font-weight: 400;
  width: 130px;
  display: inline-block;
  color: rgb(103, 101, 101);
}
